Workflows/Business_Automation_wf.json
{
  "name": "Business Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b9d91740-1b92-46c0-8435-ff2042ec3ff5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        48
      ],
      "id": "846fadad-d72e-4977-8770-a1922f9f0d78",
      "name": "Webhook",
      "webhookId": "b9d91740-1b92-46c0-8435-ff2042ec3ff5"
    },
    {
      "parameters": {
        "fromEmail": "gagareaditya32@gmail.com",
        "toEmail": "={{ $json.fields.Email }}",
        "subject": "=Registration to the Course {{ $json.fields.Course }}",
        "html": "=<div style=\"margin:0;padding:0;background:#0b1120;font-family:Inter,Arial,sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:40px 20px;\">\n    <tr>\n      <td align=\"center\">\n\n        <!-- Main Card -->\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\"\n               style=\"background:#111827;\n                      border-radius:18px;\n                      padding:40px;\n                      box-shadow:0 30px 80px rgba(0,0,0,0.6);\n                      color:#ffffff;\">\n\n          <!-- Header Section -->\n          <tr>\n            <td style=\"padding-bottom:20px;\">\n\n              <p style=\"margin:0;\n                        font-size:12px;\n                        color:#6b7280;\n                        letter-spacing:1px;\n                        text-transform:uppercase;\">\n                Automation Journey • Enrollment Alert\n              </p>\n\n              <h2 style=\"margin:8px 0 10px 0;\n                         font-size:22px;\n                         font-weight:600;\n                         color:#ffffff;\">\n                New Registration Received\n              </h2>\n\n              <span style=\"display:inline-block;\n                           padding:6px 14px;\n                           font-size:12px;\n                           background:#052e16;\n                           color:#22c55e;\n                           border-radius:20px;\n                           font-weight:600;\">\n                PAYMENT RECEIVED\n              </span>\n\n            </td>\n          </tr>\n\n          <!-- Divider -->\n          <tr>\n            <td style=\"border-top:1px solid #1f2937;padding-top:25px;\"></td>\n          </tr>\n\n          <!-- Info Table -->\n          <tr>\n            <td>\n              <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\"\n                     style=\"font-size:14px;line-height:1.7;\">\n\n                <tr>\n                  <td style=\"color:#9ca3af;width:40%;\">Full Name</td>\n                  <td><strong>{{ $json.fields[\"Full Name\"] }}</strong></td>\n                </tr>\n\n                <tr>\n                 \n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Email</td>\n                  <td>\n                    <a href=\"mailto:{{ $json.fields.Email }}\"\n                       style=\"color:#6366f1;text-decoration:none;\">\n                      {{ $json.fields.Email }}\n                    </a>\n                  </td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Phone</td>\n                  <td>{{ $json.fields[\"Phone Number\"] }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Gender</td>\n                  <td>{{ $json.fields.Gender }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Date of Birth</td>\n                  <td>{{ $json.fields[\"Date of Birth\"] }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Course</td>\n                  <td>{{ $json.fields.Course }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Batch</td>\n                  <td>{{ $json.fields.Batch }}</td>\n                </tr>\n\n               \n                <tr>\n                  <td style=\"color:#9ca3af;\">Attendance</td>\n                  <td>{{ $json.fields[\"Attendance Percentage\"] }}%</td>\n                </tr>\n\n              </table>\n            </td>\n          </tr>\n\n          <!-- Divider -->\n          <tr>\n            <td style=\"border-top:1px solid #1f2937;padding-top:25px;\"></td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"font-size:12px;\n                       color:#6b7280;\n                       text-align:center;\">\n              Enrollment ID: AJ-{{ $json.id }} <br>\n              Triggered via n8n Workflow\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1008,
        -192
      ],
      "id": "40afa26c-197f-42d1-83fb-d59cbe2ef59b",
      "name": "Send an Email",
      "webhookId": "ddf4d758-631a-4e36-9d08-4cfbf8ab221a",
      "credentials": {
        "smtp": {
          "id": "eYcVlduDCtngbqvP",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appQ2laotbbBJI7xr",
          "mode": "list",
          "cachedResultName": "Student Management System",
          "cachedResultUrl": "https://airtable.com/appQ2laotbbBJI7xr"
        },
        "table": {
          "__rl": true,
          "value": "tbliDAoZDV9fdpN3r",
          "mode": "list",
          "cachedResultName": "Students",
          "cachedResultUrl": "https://airtable.com/appQ2laotbbBJI7xr/tbliDAoZDV9fdpN3r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json.body.full_name }}",
            "Gender": "={{ $json.body.gender }}",
            "Course": "={{ $json.body.class }}",
            "Roll Number": "={{ $json.body.roll_no }}",
            "Email": "={{ $json.body.email }}",
            "Date of Birth": "={{ $json.body.date_of_birth + \"T00:00:00.000Z\" }}",
            "Phone Number": "={{ $json.body.phone_number }}",
            "Student ID": "={{ $json.body.student_id }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Male",
                  "value": "Male"
                },
                {
                  "name": "Female",
                  "value": "Female"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attendance Percentage",
              "displayName": "Attendance Percentage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        400,
        -384
      ],
      "id": "73fe712a-11f0-4346-b6f1-4b2c6d34dd12",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "TN1DW241XGHjapaD",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DataSci",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $json.body.student_id }}",
            "Full Name": "={{ $json.body.full_name }}",
            "Roll Number": "={{ $json.body.roll_no }}",
            "Phone Number": "={{ $json.body.phone_number }}",
            "Email": "={{ $json.body.email }}",
            "Date of Birth": "={{ $json.body.date_of_birth }}",
            "Gender": "={{ $json.body.gender }}",
            "Course": "={{ $json.body.class }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -160
      ],
      "id": "a77ab0d5-75ca-443e-b169-7893a74ba6d7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0a9aea9-d789-41e0-9f26-9a0bc841d364",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "data science",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c10d1d31-15f4-405e-969c-591306b3acc5",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Data Science",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c77cac58-d4d5-4e61-91a3-bddbedc598ed",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "DATA SCIENCE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f3d407d9-bf6c-4aa5-af3d-b7ce618ef904",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Data science",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -144
      ],
      "id": "f7807b81-71e8-4a55-89e7-2440066bff5d",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b32db6e2-2c6f-454e-8585-e40c3943b44f",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Machine Learning",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b6854fed-11e9-4812-a839-5e0f63e51f43",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "machine learning",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "bbb66dde-4442-4e43-9544-473ff8094de9",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Machine learning",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        32
      ],
      "id": "86553c65-5a35-41ad-a9ac-f420495f65ef",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 252808795,
          "mode": "list",
          "cachedResultName": "MachineLearning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=252808795"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Date of Birth": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Course": "={{ $('Webhook').item.json.body.class }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        16
      ],
      "id": "a569f373-9f67-4dee-b0e9-39bf926970c8",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 884427996,
          "mode": "list",
          "cachedResultName": "DataAnalytics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=884427996"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Course": "={{ $('Webhook').item.json.body.class }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Date of Birth": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        192
      ],
      "id": "dbcb92c7-49c7-4189-8057-492f94f69d4d",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0facd4bd-4969-4963-89a9-37fc1e5ad533",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Data Analytics",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8fbb3f6c-539a-45d1-894e-78f70579a4d3",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "data analytics",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d3326114-a744-4a36-acb1-6f10b92a529d",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Data analytics",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        208
      ],
      "id": "ff471bf0-bf9e-420d-a546-9db65e631965",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c165b474-9f9c-48ce-8fdb-b90c97e249ff",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Java Full Stack ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0c1e83ec-9849-4f39-b92c-d106d811eedc",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "java",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d10535d1-6428-4b8b-9d35-2f249ae7902b",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "JAVA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "52ed737d-e5cd-4d13-818d-aa0954bd7817",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "java full stack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "963d51d3-e565-44f2-b951-a9bbb8beb1d2",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Java full stack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        384
      ],
      "id": "9c3177a9-6a4f-4474-8fad-24d7172be897",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2135505577,
          "mode": "list",
          "cachedResultName": "JAVAFullStack",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=2135505577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student Id": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Course": "={{ $('Webhook').item.json.body.class }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Date of Birth ": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student Id"
          ],
          "schema": [
            {
              "id": "Student Id",
              "displayName": "Student Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth ",
              "displayName": "Date of Birth ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        368
      ],
      "id": "6a6ffa63-4391-4dac-9dfa-994b5b44bd19",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "992532d2-a952-47f2-a641-093c7ae568d9",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "MERN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "957fc3b9-d9df-459b-8049-3aabce107626",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "mern",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "5f2db862-a04f-4c82-968e-962eb8fd253e",
              "leftValue": "={{ $json.body.class }}",
              "rightValue": "Mern",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        560
      ],
      "id": "502fb6cd-a5eb-4f8c-bc72-0a2658c352b7",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2033752889,
          "mode": "list",
          "cachedResultName": "MERN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=2033752889"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Course ": "={{ $('Webhook').item.json.body.class }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Date of Birth": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course ",
              "displayName": "Course ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        544
      ],
      "id": "c7ac1adc-feee-48e8-aaf1-27365cb05487",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+17406380512",
        "to": "=+91{{ $('Webhook').item.json.body.phone_number }}",
        "message": "=Hello {{ $('Webhook').item.json.body.full_name }}, you have paid {{ $('Webhook').item.json.body.fees_paid_inr }} amout. Your enrollment for {{ $('Webhook').item.json.body.class }} course is confirmed. Complete your Payment IF REMAINING And you can join live sessions from tomarrow. Thanks you!",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1392,
        144
      ],
      "id": "da4a784e-70b2-4083-8366-7b8838fd4fc9",
      "name": "Make a call",
      "credentials": {
        "twilioApi": {
          "id": "3tfFFyTqGXffPlL1",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Make a call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "timezone": "Indian/Cocos",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "5edcafca-c31d-4885-837c-0342a184d52a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32c1644b7fccfa865023e24c0a95a15c3ced54bc0d2075ce7f93dd942776ae"
  },
  "id": "JGV_bO_FBGlequ0ImnVQ8",
  "tags": []
}