Workflows/Business Automation.json
{
  "name": "Business Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b9d91740-1b92-46c0-8435-ff2042ec3ff5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        48
      ],
      "id": "846fadad-d72e-4977-8770-a1922f9f0d78",
      "name": "Webhook",
      "webhookId": "b9d91740-1b92-46c0-8435-ff2042ec3ff5"
    },
    {
      "parameters": {
        "fromEmail": "gagareaditya32@gmail.com",
        "toEmail": "={{ $json.fields.Email }}",
        "subject": "=Registration to the Course {{ $json.fields.Course }}",
        "html": "=<div style=\"margin:0;padding:0;background:#0b1120;font-family:Inter,Arial,sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:40px 20px;\">\n    <tr>\n      <td align=\"center\">\n\n        <!-- Main Card -->\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\"\n               style=\"background:#111827;\n                      border-radius:18px;\n                      padding:40px;\n                      box-shadow:0 30px 80px rgba(0,0,0,0.6);\n                      color:#ffffff;\">\n\n          <!-- Header Section -->\n          <tr>\n            <td style=\"padding-bottom:20px;\">\n\n              <p style=\"margin:0;\n                        font-size:12px;\n                        color:#6b7280;\n                        letter-spacing:1px;\n                        text-transform:uppercase;\">\n                Automation Journey • Enrollment Alert\n              </p>\n\n              <h2 style=\"margin:8px 0 10px 0;\n                         font-size:22px;\n                         font-weight:600;\n                         color:#ffffff;\">\n                New Registration Received\n              </h2>\n\n              <span style=\"display:inline-block;\n                           padding:6px 14px;\n                           font-size:12px;\n                           background:#052e16;\n                           color:#22c55e;\n                           border-radius:20px;\n                           font-weight:600;\">\n                PAYMENT RECEIVED\n              </span>\n\n            </td>\n          </tr>\n\n          <!-- Divider -->\n          <tr>\n            <td style=\"border-top:1px solid #1f2937;padding-top:25px;\"></td>\n          </tr>\n\n          <!-- Info Table -->\n          <tr>\n            <td>\n              <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\"\n                     style=\"font-size:14px;line-height:1.7;\">\n\n                <tr>\n                  <td style=\"color:#9ca3af;width:40%;\">Full Name</td>\n                  <td><strong>{{ $json.fields[\"Full Name\"] }}</strong></td>\n                </tr>\n\n                <tr>\n                 \n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Email</td>\n                  <td>\n                    <a href=\"mailto:{{ $json.fields.Email }}\"\n                       style=\"color:#6366f1;text-decoration:none;\">\n                      {{ $json.fields.Email }}\n                    </a>\n                  </td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Phone</td>\n                  <td>{{ $json.fields[\"Phone Number\"] }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Gender</td>\n                  <td>{{ $json.fields.Gender }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Date of Birth</td>\n                  <td>{{ $json.fields[\"Date of Birth\"] }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Course</td>\n                  <td>{{ $json.fields.Course }}</td>\n                </tr>\n\n                <tr>\n                  <td style=\"color:#9ca3af;\">Batch</td>\n                  <td>{{ $json.fields.Batch }}</td>\n                </tr>\n\n               \n                <tr>\n                  <td style=\"color:#9ca3af;\">Attendance</td>\n                  <td>{{ $json.fields[\"Attendance Percentage\"] }}%</td>\n                </tr>\n\n              </table>\n            </td>\n          </tr>\n\n          <!-- Divider -->\n          <tr>\n            <td style=\"border-top:1px solid #1f2937;padding-top:25px;\"></td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"font-size:12px;\n                       color:#6b7280;\n                       text-align:center;\">\n              Enrollment ID: AJ-{{ $json.id }} <br>\n              Triggered via n8n Workflow\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        736,
        -256
      ],
      "id": "40afa26c-197f-42d1-83fb-d59cbe2ef59b",
      "name": "Send an Email",
      "webhookId": "ddf4d758-631a-4e36-9d08-4cfbf8ab221a",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "eYcVlduDCtngbqvP",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appQ2laotbbBJI7xr",
          "mode": "list",
          "cachedResultName": "Student Management System",
          "cachedResultUrl": "https://airtable.com/appQ2laotbbBJI7xr"
        },
        "table": {
          "__rl": true,
          "value": "tbliDAoZDV9fdpN3r",
          "mode": "list",
          "cachedResultName": "Students",
          "cachedResultUrl": "https://airtable.com/appQ2laotbbBJI7xr/tbliDAoZDV9fdpN3r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json.body.full_name }}",
            "Gender": "={{ $json.body.gender }}",
            "Course": "={{ $json.body.class }}",
            "Roll Number": "={{ $json.body.roll_no }}",
            "Email": "={{ $json.body.email }}",
            "Date of Birth": "={{ $json.body.date_of_birth + \"T00:00:00.000Z\" }}",
            "Phone Number": "={{ $json.body.phone_number }}",
            "Student ID": "={{ $json.body.student_id }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Male",
                  "value": "Male"
                },
                {
                  "name": "Female",
                  "value": "Female"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attendance Percentage",
              "displayName": "Attendance Percentage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -16,
        -256
      ],
      "id": "73fe712a-11f0-4346-b6f1-4b2c6d34dd12",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "TN1DW241XGHjapaD",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DataSci",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $json.body.student_id }}",
            "Full Name": "={{ $json.body.full_name }}",
            "Roll Number": "={{ $json.body.roll_no }}",
            "Phone Number": "={{ $json.body.phone_number }}",
            "Email": "={{ $json.body.email }}",
            "Date of Birth": "={{ $json.body.date_of_birth }}",
            "Gender": "={{ $json.body.gender }}",
            "Course": "={{ $json.body.class }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -96
      ],
      "id": "a77ab0d5-75ca-443e-b169-7893a74ba6d7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 252808795,
          "mode": "list",
          "cachedResultName": "MachineLearning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=252808795"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Date of Birth": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Course": "={{ $('Webhook').item.json.body.class }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        32
      ],
      "id": "a569f373-9f67-4dee-b0e9-39bf926970c8",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 884427996,
          "mode": "list",
          "cachedResultName": "DataAnalytics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=884427996"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Course": "={{ $('Webhook').item.json.body.class }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Date of Birth": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        192
      ],
      "id": "dbcb92c7-49c7-4189-8057-492f94f69d4d",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2135505577,
          "mode": "list",
          "cachedResultName": "JAVAFullStack",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=2135505577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student Id": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Course": "={{ $('Webhook').item.json.body.class }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Date of Birth ": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student Id"
          ],
          "schema": [
            {
              "id": "Student Id",
              "displayName": "Student Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course",
              "displayName": "Course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth ",
              "displayName": "Date of Birth ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        368
      ],
      "id": "6a6ffa63-4391-4dac-9dfa-994b5b44bd19",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8",
          "mode": "list",
          "cachedResultName": "Attendance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2033752889,
          "mode": "list",
          "cachedResultName": "MERN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N0B9AdA8oVCbVY02rUK_rz3jK9Xom3M85C9nXVAmcg8/edit#gid=2033752889"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student ID": "={{ $('Webhook').item.json.body.student_id }}",
            "Full Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Roll Number": "={{ $('Webhook').item.json.body.roll_no }}",
            "Course ": "={{ $('Webhook').item.json.body.class }}",
            "Gender": "={{ $('Webhook').item.json.body.gender }}",
            "Date of Birth": "={{ $('Webhook').item.json.body.date_of_birth }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone Number": "={{ $('Webhook').item.json.body.phone_number }}",
            "Admission Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Student ID"
          ],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Roll Number",
              "displayName": "Roll Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course ",
              "displayName": "Course ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admission Date",
              "displayName": "Admission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        496
      ],
      "id": "c7ac1adc-feee-48e8-aaf1-27365cb05487",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x2nbx9JxsMizehg8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "call",
        "from": "+17406380512",
        "to": "=+91{{ $('Webhook').item.json.body.phone_number }}",
        "message": "=Hello {{ $('Webhook').item.json.body.full_name }}, you have paid {{ $('Webhook').item.json.body.fees_paid_inr }} amout. Your enrollment for {{ $('Webhook').item.json.body.class }} course is confirmed. Complete your Payment IF REMAINING And you can join live sessions from tomarrow. Thanks you!",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1280,
        144
      ],
      "id": "da4a784e-70b2-4083-8366-7b8838fd4fc9",
      "name": "Make a call",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "twilioApi": {
          "id": "3tfFFyTqGXffPlL1",
          "name": "Twilio account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14055ec1-7acf-4ffa-9b56-d8208a5d8b2a",
              "name": "=normalized_course",
              "value": "={{$json.body.class.trim().toLowerCase()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        480
      ],
      "id": "79e54235-8ec0-41c1-967f-8fb7126b0cc2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.normalized_course }}",
                    "rightValue": "data science",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db974cc5-8b2f-4ac7-ae0b-4f77cebc457f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "580e619f-a07a-4ce3-a27b-8869e537e7b1",
                    "leftValue": "={{ $json.normalized_course }}",
                    "rightValue": "machine learning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a958654a-e52f-4248-bdc3-ff1b688693df",
                    "leftValue": "={{ $json.normalized_course }}",
                    "rightValue": "data analytics",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "793c23a7-a6a0-42f9-bb31-fc479bf38709",
                    "leftValue": "={{ $json.normalized_course }}",
                    "rightValue": "java fullstack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b39f894-64c8-430a-9804-943fafe7e864",
                    "leftValue": "={{ $json.normalized_course }}",
                    "rightValue": "mern",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        160,
        144
      ],
      "id": "63dbd352-cb73-4ff6-9e16-8b766237e730",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Make a call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "timezone": "Indian/Cocos",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "1daa74a0-0834-449f-a1f9-7e96be2f7fec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32c1644b7fccfa865023e24c0a95a15c3ced54bc0d2075ce7f93dd942776ae"
  },
  "id": "JGV_bO_FBGlequ0ImnVQ8",
  "tags": []
}